
<div class="header">
  <%= link_to image_tag("sbconsulting/logo.png", class:"img-responsive"), root_path %>

</div>
<div class="sperator">
  <div class="pull-right" style="margin-right: 2%;">
    <%= link_to image_tag('UK-flag.png', height: 23), 'select_locale?lang=en'%>
    <%= link_to image_tag('France-Flag.png', height: 23), 'select_locale?lang=fr'%>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><%= link_to t('home_page'), root_path %></li>
        <li ><%= link_to t('about_us'), 'about-us' %></li>
        <li ><%= link_to t('our_services'), 'our-services' %></li>
        <li ><%= link_to t('news'), 'news' %></li>
        <li ><%= link_to t('contact.contact_link'), 'contact-us' %></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>