<div class="row-top">
  <div class="main">
    <div class="row">
      <div class="col-md-11 col-sm-11 col-xs-11 pull-right">
        <h1><%= link_to image_tag("sbconsulting/logo.png"), root_path %></h1>
        <form id="search-form" method="post" enctype="multipart/form-data">
          <fieldset>
            <!--<div class="search-field">-->
            <!--&lt;!&ndash;<input name="search" type="text" value="Search..." onBlur="if(this.value=='') this.value='Search...'" onFocus="if(this.value =='Search...' ) this.value=''" />&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"></a>&ndash;&gt;-->
            <!--</div>-->
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="menu-row">
  <div class="menu-bg-black"></div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class=" <%= params[:action] == "index" ? "active   " : '' %> "><%= link_to t('home_page'), root_path %></li>
        <li class=" <%= params[:action] == "aboutus" ? "active " : '' %> "><%= link_to t('about_us'), 'about-us' %></li>
        <li class=" <%= params[:action] == "services" ? "active " : '' %> "><%= link_to t('our_services'), 'our-services' %></li>
        <li class=" <%= params[:action] == "news" ? "active " : '' %> "><%= link_to t('news'), 'news' %></li>
        <li class=" <%= params[:action] == "new"  ? "active " : '' %> "><%= link_to t('contact.contact_link'), 'contact-us' %></li>

      </ul>
    </div>
  </nav>

</div>