<div class="extra" id="page1">
  <!--==============================header=================================-->
  <header>
    <%= render :partial => 'shared/header' %>
    <div class="row-bot">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="row">
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
              <a href="<%= 'news' %>"><%= image_tag "sbconsulting/cercle-journal.png", class: "carousel-image img-responsive", alt: "" %></a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
              <a href="<%= 'about-us' %>"><%= image_tag "sbconsulting/cercle-stylo.png", class: "carousel-image img-responsive", alt: "", style: "margin-top: -40%;" %></a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
              <a href="<%= 'our-services' %>"><%= image_tag "sbconsulting/handshake.png", class: "carousel-image img-responsive", alt: "", style: "margin-top: -40%;" %></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" id="motcle">
          <%= image_tag 'mot-cles.png', width: '100%', height: '80%', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </header>
</div>

