<%= render :partial => 'shared/header' %>
<section class="content-body">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a href="news"><%= image_tag "slide3.png", class: "carousel-image img-responsive", alt: "" %></a>
        <a href="about-us"><%= image_tag "slide2.png", class: "carousel-image img-responsive", alt: "" %></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">

        <a href="our-services" class="third">
          <%= image_tag "slide1.png", class: "carousel-image img-responsive", alt: "" %>
        </a>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <%= image_tag "slide.png", class: "img-responsive", alt: "" %>
        <%= render partial: 'shared/footer' %>
      </div>
    </div>
  </div>
</section>

