<%= render :partial => 'shared/header' %>
<div class="sperator3">
</div>
<section class="form">
  <div class="container">
    <div class="form-content">
      <div class="row">
        <div class="col-sm-6 hidden-xs left-side">
          <div class="left-sider">
            <div class="contact-icons">
              <a href="https://www.facebook.com/sb4consulting/" target="_blank"><%= image_tag "face2.png", alt: "facebook" %></a>
              <a href="https://www.linkedin.com/in/sb4consulting-sadika-bernard-58aa488" target="_blank"><%= image_tag "linked2.png", alt: "linked" %></a>
            </div>
            <h2>contact us.....</h2>
            <p>SB4Consulting</p>
            <p>12, lou miradou</p>
            <p>saint drezery.34160.FRANCE</p>
            <p>phone:+33(0)663472597</p>
            <div class="sparit"></div>
          </div>
        </div>
        <div class="col-sm-6 right-side">
          <%= form_for(@contact) do |f| %>

              <div class="form-group">
                <%= f.text_field :name , class:"form-control", id:"exampleInputEmail1", placeholder: t('contact.name') %>
              </div>
              <div class="form-group">
                <%= f.email_field :email , class:"form-control", id:"exampleInputEmail1", placeholder: 'Email' %>

              </div>
              <div class="form-group">
                <%= f.text_field :organisation , class:"form-control", id:"exampleInputEmail1", placeholder: t('contact.organisation') %>
              </div>
              <div class="form-group">
                <%= f.text_field :subject , class:"form-control", id:"exampleInputEmail1", placeholder: t('contact.subject') %>

              </div>
              <div class="form-group">
                <%= f.text_area :text, class:"form-control", id:"inputText", row: 4%>
              </div>
              <button type="submit" class="btn btn-primary"><%= 'Submit' %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

