<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @contact.is_read %>
</p>

<p>
  <strong>Text:</strong>
  <%= @contact.text %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Is archive:</strong>
  <%= @contact.is_archive %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
